:root {
    --rotation-time1: 5s;
    --rotation-time2: 2s;
    --rotation-radius1: 40vmin;
    --rotation-radius2: 3vmin;
}

body {
    display: flex;
    flex-direction: column;
}

#whirlpool {
    flex-grow:1;
    display: grid;
    place-items: center;
    align-content: center;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--highlight-colour);
}

.stationary {
    position: absolute;
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 20px 5px red;
}

.orbiter1 {
    animation: orbit1 var(--rotation-time1) infinite linear;
    background-color: blue;
}
.orbiter2 {
    width: 5px;
    height: 5px;
    animation: orbit2 var(--rotation-time2) infinite linear;
    background-color: grey;
}

@keyframes orbit1 {
    0% {
        transform: rotate(0deg) translateX(var(--rotation-radius1)) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(var(--rotation-radius1)) rotate(-360deg);
    }
}
@keyframes orbit2 {
    0% {
        transform: rotate(0deg) translateX(var(--rotation-radius2)) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(var(--rotation-radius2)) rotate(-360deg);
    }
}