title {
    font-family: "Lucida Console", "Courier New", monospace;
    color: red;
    text-align: center;
}

body {
    font-family: "Lucida Console", "Courier New", monospace;
    color: orange;
    text-align: center;
}