h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    color: red;
    text-align: center;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: "Lucida Console", "Courier New", monospace;
    color: purple;
    text-align: center;
}

#divider {
    text-align: center;
    font-size: 20px;
    text-overflow: clip; 
    overflow: hidden;
    font-weight: bold;
    animation: fade-in 2s ease, grow 1s ease;
    animation-iteration-count: infinite;
    animation-direction: alternate
}

#index {
    text-align:left
}

.from-left {
    animation: slideinfromleft 1s ease;
}

.from-right {
    animation: slideinfromright 1s ease;
}

.change-text:hover:after{
    animation: fade-in 1s ease;
    content: ": Secret";
}

@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes fade-in {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideinfromleft {
    from {
        filter: blur(1);
        opacity: 0;
        transform: translateX(-200%);
    }
    to { 
        filter: blur(0);
        opacity: 1;
        transform: translateX(0%);
    }
 }

@keyframes slideinfromright {
    from {
        filter: blur(1);
        opacity: 0;
        transform: translateX(200%);
    }
    to { 
        filter: blur(0);
        opacity: 1;
        transform: translateX(0%);
    }
 }