:root {
    --heading-colour: rgb(251,126,41);
    --heading-shadow-colour: rgba(251, 125, 41, 0.61);
    --auxillary-heading-colour: rgb(255,153,0);
    --text-colour: rgb(255,153,0);
    --auxillary-text-colour: rgb(255,153,0);
    --background-colour: rgb(23, 23, 23);
}

::selection {
    color: red;
    background: var(--background-colour);
    text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.63);  
}

h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    color: var(--heading-colour);
    text-align: center;
    text-shadow: 2px 2px 3px var(--heading-shadow-colour);
}

body {
    background-color: var(--background-colour);
    color: var(--text-colour);
    font-family: "Lucida Console", "Courier New", monospace;
    text-shadow: 2px 2px 3px var(--heading-colour);
    text-align: center;
    height: 99vh;
    width: calc(100vw - var(--scrollbar-width));
    overflow: hidden;
    margin: 0;
    border: solid;
    border-width: thick;
}

#divider {
    text-align: center;
    font-size: 30px;
    text-overflow: clip; 
    /* user-select: none; */

    overflow: hidden;
    animation: fade-in 2s ease, grow 1s ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}

#index {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

/*
Remove link formatting
*/
a {
    all: unset;
}


/*
Animations
*/
#index span:hover{
    font-weight:bolder;
}

.from-left {
    animation: slideinfromleft 1s ease;
}

.from-right {
    animation: slideinfromright 1s ease;
}

.change-text:hover:after{
    width:fit-content;
    animation: fade-in 1s ease;
    content: ": Secret";
}

@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes fade-in {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideinfromleft {
    from {
        filter: blur(1);
        opacity: 0;
        transform: translateX(-200%);
    }
    to { 
        filter: blur(0);
        opacity: 1;
        transform: translateX(0%);
    }
 }

@keyframes slideinfromright {
    from {
        filter: blur(1);
        opacity: 0;
        transform: translateX(200%);
    }
    to { 
        filter: blur(0);
        opacity: 1;
        transform: translateX(0%);
    }
 }