:root {
    --rotation-time: 2s;
    --rotation-radius: 100px;
}

body {
    display: flex;
    flex-direction: column;
}

#whirlpool {
    flex-grow:1;
    display: grid;
    place-items: center;
    align-content: center;
}

.circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--highlight-colour);
    animation: rotate var(--rotation-time) infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translateX(var(--rotation-radius)) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(var(--rotation-radius)) rotate(-360deg);
    }
}