:root {
    --heading-colour: #F77F00;
    --heading-shadow-colour: #003049;
    --text-colour: #F77F00;
    --background-colour: #EAE2B7;
    /* --background-colour: rgb(23, 23, 23); */
    --highlight-colour: #003049;
    --highlight-shadow-colour: #F77F00;
    --card-background-colour: #FCBF49;
}

::selection {
    color: var(--highlight-colour);
    background: var(--background-colour);
    text-shadow: 2px 2px 5px var(--highlight-shadow-colour);
}

h1 {
    font-family: "Helvetica", "Courier New", monospace;
    color: var(--heading-colour);
    text-align: center;
    /* text-shadow: 2px 2px 3px var(--heading-shadow-colour); */
}

body {
    background-color: var(--background-colour);
    color: var(--text-colour);
    font-family: "Helvetica", "Courier New", monospace;
    /* text-shadow: 2px 2px 3px var(--heading-colour); */
    text-align: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    /* border-color: #023047;
    border: solid;
    border-width: thick; */
    display: flex;
    flex-direction: column;
}

footer {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
}

/*
Remove link formatting
*/
a {
    all: unset;
}