:root {
    --heading-colour: rgb(251,126,41);
    --heading-shadow-colour: rgba(251, 125, 41, 0.61);
    --auxillary-heading-colour: rgb(255,153,0);
    --text-colour: rgb(255,153,0);
    --auxillary-text-colour: rgb(255,153,0);
    --background-colour: rgb(23, 23, 23);
    --highlight-colour: red;
    --highlight-shadow-colour: rgba(255, 0, 0, 0.63);
}

::selection {
    color: var(--highlight-colour);
    background: var(--background-colour);
    text-shadow: 2px 2px 5px var(--highlight-shadow-colour);
}

h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    color: var(--heading-colour);
    text-align: center;
    text-shadow: 2px 2px 3px var(--heading-shadow-colour);
}

body {
    background-color: var(--background-colour);
    color: var(--text-colour);
    font-family: "Lucida Console", "Courier New", monospace;
    text-shadow: 2px 2px 3px var(--heading-colour);
    text-align: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    border: solid;
    border-width: thick;
    display: flex;
    flex-direction: column;
}

footer {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
}

/*
Remove link formatting
*/
a {
    all: unset;
}