h1 {
    font-size: 3vw;
    font-weight: bold;
}
body {
    font-weight: bold;
}

.change-text:hover:after{
    animation: fade-in 1s ease;
    content: ": Secret";
}

#divider {
    text-align: center;
    font-size: 30px;
    text-overflow: clip; 
    overflow: hidden;
    animation: fade-in 2s ease, grow 1s ease;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}
#index {
    list-style: none;
    padding-left: 0;
    text-align: center;
    flex:1;
    scrollbar-width: none; 
}
.carousel {
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.carousel-item {
    padding-top: 10px;
    scroll-snap-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 60%;
    width: 40%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    background-color: var(--card-background-colour);
}

.carousel-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.from-left {
    animation: slideinfromleft 1s ease;
}

.from-right {
    animation: slideinfromright 1s ease;
}
#index a:hover {
    font-weight:bolder;
}

#index::-webkit-scrollbar {
    display: none;
}


/*
Animations
*/
@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes fade-in {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideinfromleft {
    from {
        filter: blur(1);
        opacity: 0;
        transform: translateX(-200%);
    }
    to { 
        filter: blur(0);
        opacity: 1;
        transform: translateX(0%);
    }
 }

@keyframes slideinfromright {
    from {
        filter: blur(1);
        opacity: 0;
        transform: translateX(200%);
    }
    to { 
        filter: blur(0);
        opacity: 1;
        transform: translateX(0%);
    }
 }